body {
    font-family: "Legendary Runes Free Trial";
    src: url("/font/Legendary Runes Free Trial.otf");
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: whitesmoke;
    background-image: url("https://source.unsplash.com/1600x900/?moon");
  }
  #container {
    border-radius: 56px 0px 56px 0px;
    width: 800px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  .com{
    padding: 10px;
    width: 100px ;
    display: flex;
    flex-direction: column;
  }
  
  #comment{
    padding: 10px;
    width: 150px ;
    display: flex;
    flex-direction: column;
  }
  #comment-form{
    padding: 10px;
    width: 300px ;
    display: flex;
    flex-direction: column;
  }

  #characters-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
     "img img img img";
  }
  #characters-container img{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, ifr));
    gap: 25 rem;
    width:60%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  #characters-images-container h3{
     align-content: center;

  }
  .log-form {
    padding: 10px;
    width: 300px ;
    display: flex;
    flex-direction: column;
  }

  button {
    background-color: blue;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  button.hover{
    color: black;
  }
.cards h3 {
  font-size: 1.1em;
  text-align: center;
}
.input{
  margin-left: 200px;
  border-radius: 5px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
 }
footer{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
